/CSharpApisRobustas/GTSharp/.vs/GTSharp/v15/Server/sqlite3/storage.ide-shm
/CSharpApisRobustas/GTSharp/.vs/GTSharp/v15/*.suo
/CSharpApisRobustas/GTSharp/.vs/GTSharp/v15/Server/sqlite3/*.lock
/CSharpApisRobustas/GTSharp/.vs/GTSharp/v15/Server/sqlite3/*.ide
/CSharpApisRobustas/GTSharp/.vs/GTSharp/v15/Server/sqlite3/*.ide-wal
/CSharpApisRobustas/GTSharp/GTSharp.Domain/obj/Debug/*.cache
