<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <input type="text" v-model="inputText" />
      <br />
      {{ inputText }}
      <br />
      <div v-if="inputText == 1">
        <img :src="srcimg" :title="title" class="img" />
      </div>
      <div v-else-if="inputText == 2">
        <img :src="srcimg2" :title="title" class="img" />
      </div>
      <div v-else>
        <img :src="srcimg3" :title="title" class="img" />
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          inputText: "",
          srcimg: "imgvue.png",
          srcimg2: "imgvue2.png",
          srcimg3: "imgvue3.png",
          title: "Logo Vue"
        }
      });
    </script>
  </body>

  <style>
    img {
      overflow: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 1200px;
    }
  </style>
</html>
